<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Specify | <%= title %></title>
</head>
<body>
  <section class="container">
    <header>
      <div class="logo">Specifi <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" stroke-width="2.5" stroke="#CACBD2" fill="none" class="duration-300 transform transition-all" style="width: 32px; height: 32px;"><path d="M45 14.67l-2.76 2a1 1 0 01-1 .11l-3.59-1.48a1 1 0 01-.61-.76l-.66-3.77a1 1 0 00-1-.84h-4.86a1 1 0 00-1 .77l-.93 3.72a1 1 0 01-.53.65l-3.3 1.66a1 1 0 01-1-.08l-3-2.13a1 1 0 00-1.31.12l-3.65 3.74a1 1 0 00-.13 1.26l1.87 2.88a1 1 0 01.1.89L16.34 27a1 1 0 01-.68.63l-3.85 1.06a1 1 0 00-.74 1v4.74a1 1 0 00.8 1l3.9.8a1 1 0 01.72.57l1.42 3.15a1 1 0 01-.05.92l-2.13 3.63a1 1 0 00.17 1.24L19.32 49a1 1 0 001.29.09L23.49 47a1 1 0 011-.1l3.74 1.67a1 1 0 01.59.75l.66 3.79a1 1 0 001 .84h4.89a1 1 0 001-.86l.58-4a1 1 0 01.58-.77l3.58-1.62a1 1 0 011 .09l3.14 2.12a1 1 0 001.3-.15l3.45-3.7a1 1 0 00.09-1.27l-2.08-3a1 1 0 01-.09-1l1.48-3.43a1 1 0 01.71-.59l3.66-.77a1 1 0 00.8-1v-4.58a1 1 0 00-.8-1l-3.72-.78a1 1 0 01-.73-.62l-1.45-3.65a1 1 0 01.11-.94l2.15-3.14A1 1 0 0050 18l-3.71-3.25a1 1 0 00-1.29-.08z"></path><circle cx="32.82" cy="31.94" r="9.94"></circle></svg></span></div>
    </header>
    <div class="uploader">
        <h3>Your PC's spec</h3>
        <div class="image-preview">
          <img src="/image.svg" alt="select preview">
        </div>
        <h5>Platform: <span><%= os.platform() %></span></h5>
        <h5>Host name: <span><%= os.hostname() %></span></h5>
        <h5>Release date: <span><%= os.release() %></span></h5>
        <h5>OS type: <span><%= os.type() %></span></h5>
        <h5>Total memory: <span><%= Math.ceil(os.totalmem() / 1024 ** 3)%>GB</span></h5>
        <h5>Available memory: <span><%= Math.ceil(os.freemem() / 1024 ** 3) %>GB</span></h5>
        <h5>User's name: <span><%= os.userInfo().username %></span></h5>
        <h5>Version: <span><%= os.version() %></span></h5>
        <h5>Up time: <span><%= Math.floor(os.uptime() / 60 / 60) %>hrs</span></h5>
        <% os.cpus().forEach(cpu => { %>
          <h5>Model: <span><%= cpu.model %></span></h5>
          <h5>Processor speed: <span><%= cpu.speed / 1000 %>GHZ</span></h5>
        <% }) %>
      </div>
    </section>
</body>
</html>